#nav {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    width: 100%;
    margin: auto;
}

#categories {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin: 12px;
    width: 97%;
    margin: auto;
    background-color: white;
    font-family: sans-serif;
    font-weight: bolder;
    border-radius: 10px;
}

#categories {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#categories>div>img {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 112px;
    width: 150px;
    border-radius: 5px;
    margin-top: 20px;
}

#categories>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav1 {
    display: flex;
    flex-direction: column;
}

#logo_name {
    font-size: 22px;
    font-family: sans-serif;
    font-style: italic;
    color: gold;
    font-weight: bold;
}

#input_data {
    padding-left: 10px;
    border: none;
    width: 350px;
    height: 20px;
    background-color: aliceblue;
}

body {
    background-color: #F1F2F4;
}

.navtab {
    display: flex;
    align-items: center;
}

#searchbar {
    background-color: aliceblue;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 5px;
    border-radius: 10px;
}

li {
    list-style: none;
    margin-top: 12px;
}

#footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-bottom: 18px;
    padding-top: 18px;
    border-radius: 7px;
}

.heading {
    color: gold;
}

.section1 {
    height: 300px;
    width: 100%;
    display: flex;
    overflow-x: auto;
    background-color: white
}

.section1item {
    height: 100%;
    width: 240px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2px 15px;
    align-items: center;
    justify-content: center;
    border: 2px;
}

.section1item img {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 38px;
    padding: 6px;
    justify-content: space-between;
}

.section1name {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 6px;
}

.section1price {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: gray;
    align-content: center;
}